{% extends "layout.html" %}

{% block body %}



<body class="application">

<!--Loader-->
<div id="loader-overlay">
    <div class="lds-css ng-scope">
        <div style="width:100%;height:100%" class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div class="container-fluid reports-container" id="graphContainer">
    <ul class="nav nav-tabs">

        <li role="presentation" class="active"><a href="#site-data" data-toggle="tab">Site Data</a></li>
        <li><a href="#events-data" data-toggle="tab">Events Specific</a></li>
        <li><a href="#support-data" data-toggle="tab">Support Specific</a></li>
        <li><a href="#ratings-data" data-toggle="tab">Ratings Specific</a></li>
    </ul>

<!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="site-data">
            <div  id="outer" class="container-fluid">
                <div class="row">
                    <div class="col-sm-12" data-step="1" data-intro="Welcome to the Site Visits Panel! in here you will be able to get user views data related to the entire site
                        This specific element contains the total amount of events visits, when different data is selected within the
                                                                    graphs options, the value will adapt based on the selection" data-position="bottom">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                            </div>
                            <div class="chart-stage">
                                <div class="dc-data-count"></div>
                            </div>
                        </div>
                      <button class="intro_button pull-right btn btn-default" type="button" id="tour-button" autofocus>Start Tour!</button>
                    </div>
                    <!-- Time Chart -->
                    <div class="col-sm-12 borders padding" data-step="2" data-intro="Number of Total Site Visits split by Month" data-position="top">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Number of Site Views by Month
                            </div>
                            <div class="chart-stage">
                                <div id="time-chart"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 borders padding" data-step="3" data-intro="This graph is showing the number of views divided by different type of operating systems and devices, this might
                    help you in prioritizing and targeting eventual improvements based upon the type of configuration your users utilize to connect to the platform " data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title ">
                                Views by Operating System
                            </div>
                            <div class="chart-stage ">
                                <div id="pie-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 borders padding" data-step="4" data-intro="This graph is showing the number of views divided by different type of browser ad devices, this might
                    help you in prioritizing and targeting eventual improvements based upon the type of configuration your users utilize to connect to the platform" data-position="left">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Views by Browser Type
                            </div>
                            <div class="chart-stage">
                                <div id="pie-chart-devices"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="events-data" >
            <div  id="outer" class="container-fluid">
                <div class="row">
                    <div class="col-sm-8" data-step="5" data-intro="Welcome to the Events Specific Panel! In here you will be able to get user views data related to webcast events
                        This specific element contains the total amount of events visits, when different data is selected within the
                                                                    graphs options, the value will adapt based on the selection" data-position="right">

                        <div class="chart-wrapper" >
                            <div class="chart-title">
                            </div>
                            <div class="chart-stage" >
                                <div class="events-dc-data-count tab-header"></div>
                            </div>
                        </div>
                    </div>
                    <!-- menu select -->
                    <div class="col-sm-4  padding" data-step="6" data-intro="From here you will be able to select data from single events,
                     the selection will update all of the graphs accordingly" data-position="left">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Event Selection
                            </div>
                            <div class="chart-stage">
                                <div id="menu-select"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- menu select -->
                <!-- Time Chart -->
                <div class="row borders padding">
                    <div class="col-sm-12 " data-step="7" data-intro="Number of Total Events Visits split by Month this graph will automatically
                    update when you select a single webcast" data-position="top">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Number of Views by Month
                            </div>
                            <div class="chart-stage">
                                <div id="events-time-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row borders">
                    <div class="col-sm-6 padding"  data-step="8" data-intro="This graph is showing the number of views divided by different type of operating systems and devices, this might
                    help you in prioritizing and targeting eventual improvements based upon the type of configuration your users utilize to connect to the platform " data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Views by Operating System
                            </div>
                            <div class="chart-stage">
                                <div id="events-pie-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 padding" data-step="9" data-intro="This graph is showing the number of views divided by different type of browser and devices, this might
                    help you in prioritizing and targeting eventual improvements based upon the type of configuration your users utilize to connect to the platform" data-position="left">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Views by Browser Type
                            </div>
                            <div class="chart-stage">
                                <div id="events-pie-chart-devices"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row borders padding">
                    <!-- Resources -->
                    <div class="col-sm-12" id="event-row-chart-column" data-step="10" data-intro="This graph is showing a comparison between each
                    webcast event in terms of amount of viewers" data-position="top">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total Visitors per single Event Comparison
                            </div>
                            <div class="chart-stage">
                                <div id="events-type-row-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Resources -->
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="support-data">
            <div  id="outer" class="container-fluid">
                <div class="row">
                    <div class="col-sm-8" data-step="11" data-intro="Welcome to the Support Specific Panel! In here you will be able to get user views data related to Support Requests
                        This specific element contains the Number of Total Support Requests split by Month, when different data is selected within the
                                                                    graphs options, the value will adapt based on the selection">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                            </div>
                            <div class="chart-stage">
                                <div class="support-dc-data-count tab-header"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padding" data-step="12" data-intro="From here you will be able to select Support data from single events,
                     the selection will update all of the graphs accordingly" data-position="left">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Event Selection
                            </div>
                            <div class="chart-stage">
                                <div id="support-menu-select"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row borders padding">
                    <div class="col-sm-12" data-step="13" data-intro="Number of Total Support Requests split by Month, this graph will automatically
                    update when you select a single webcast" data-position="top">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Number of Support Requests by Month
                            </div>
                            <div class="chart-stage">
                                <div id="support-time-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row borders padding">
                    <div class="col-sm-4" data-step="14" data-intro="This graph is showing the number of support requests divided by different type of operating systems and devices, this might
                    help you in prioritizing and targeting eventual improvements based upon the type of configuration your users utilize to connect to the platform " data-position="right">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Requests by Operating System
                            </div>
                            <div class="chart-stage">
                                <div id="support-pie-chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" data-step="15" data-intro="This graph is showing the number of support requests divided by different type of browser ad devices, this might
                    help you in prioritizing and targeting eventual improvements based upon the type of configuration your users utilize to connect to the platform" data-position="left">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Requests by Browser Type
                            </div>
                            <div class="chart-stage">
                                <div id="support-pie-chart-devices"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" data-step="16" data-intro="This graph is showing the number of support requests divided by different type of pre-defined problem types, this might
                    help you in identifying specific isolated issues and tackle problem with a more efficient approach " data-position="left">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Requests by Problem Type
                            </div>
                            <div class="chart-stage">
                                <div id="support-pie-chart-issueType"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row borders padding">
                    <div class="col-sm-12" data-step="17" data-intro="This graph is showing a comparison between each
                    webcast event in terms of amount of support requests" data-position="top">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total Support Requests per single Webcast Comparison
                            </div>
                            <div class="chart-stage">
                                <div id="support-type-row-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="ratings-data">
            <div  id="outer" class="container-fluid">
                <div class="row ratings-row">
                    <div class="col-sm-8" data-step="18" data-intro="Welcome to the Rating Specific Panel! in here you will be able to get user views data related to ratings per webcast events
                        This specific element contains Number of Total Ratings, when different data is selected within the
                                                                    graphs options, the value will adapt based on the selection">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                            </div>
                            <div class="chart-stage">
                                <div class="ratings-dc-data-count tab-header"></div>
                            </div>
                        </div>
                    </div>
                    <!-- menu select -->
                    <div class="col-sm-4 padding" data-step="19" data-intro="From here you will be able to select Ratings data from single events,
                     the selection will update all of the graphs accordingly" data-position="left">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Event Selection
                            </div>
                            <div class="chart-stage">
                                <div id="ratings-menu-select"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- menu select -->
                <div class="row borders padding">
                    <div class="col-sm-6 ratings-display tab-header" data-step="20" data-intro="In this section you will be provided with the average score of either the total
                    amount of webcast events or based on individual selection, this figure will update automatically to reflect the options you have selected" data-position="right">
                        <h1 id="ratings-header"></h1>
                    </div>

                    <div class="col-sm-6" data-step="21" data-intro="In this section you will be provided with detailed information about ratings based on the
                     options you have selected" data-position="left">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Views by Individual Star Rating
                            </div>
                            <div class="chart-stage">
                                <div id="ratings-pie-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row borders padding">
                    <div class="col-sm-12" data-step="22" data-intro="This graph is showing a comparison between each
                    webcast event in terms of ratings score" data-position="top">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                View by number of Ratings per Single Event
                            </div>
                            <div class="chart-stage">
                                <div id="ratings-type-row-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid">
    <div class="navbar navbar-default" >
        <ul class="nav navbar-nav">
            <li>
                <a target="_blank" href="http://www.parliament.uk/">
                    <i class="fa fa-external fa-lg"></i> UKParliament Site
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/azindex/">
                    <i class="fa fa-external fa-lg"></i> A-Z index
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/glossary/">
                    <i class="fa fa-external fa-lg"></i> Glossary
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/contact-us/">
                    <i class="fa fa-external fa-lg"></i> Contact us
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/foi/">
                    <i class="fa fa-external fa-lg"></i> Freedom of Information
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/job-opportunities/">
                    <i class="fa fa-external fa-lg"></i> Jobs
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/using-this-website/">
                    <i class="fa fa-external fa-lg"></i> Using this website
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/copyright/">
                    <i class="fa fa-external fa-lg"></i> Copyright
                </a>
            </li>
        </ul>
    </div>
</footer>

</body>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        1integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://s3.eu-west-2.amazonaws.com/elasticbeanstalk-eu-west-2-932524864295/js/d3.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js" type="text/javascript"></script>
<script src="https://s3.eu-west-2.amazonaws.com/elasticbeanstalk-eu-west-2-932524864295/js/d3-queue.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.9/dc.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/keen-js/4.3.0/keen.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.min.js" type="text/javascript"></script>
<script src="https://s3.eu-west-2.amazonaws.com/elasticbeanstalk-eu-west-2-932524864295/js/graphshelpers.js" type="text/javascript"></script>
<script src="https://s3.eu-west-2.amazonaws.com/elasticbeanstalk-eu-west-2-932524864295/js/main_dashboard.js" type="text/javascript"></script>
{% endblock %}