{% extends "layout.html" %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

{#<script src="https://s3.eu-west-2.amazonaws.com/elasticbeanstalk-eu-west-2-932524864295/js/main_dashboard.js" type="text/javascript"></script>#}


</head>
<body>
<div class="container-fluid" style="height:100vh; padding-top:100px;background:white;">
<h3>Welcome to the House of Parliament's Webcast reporting page </h3>

    <p>This reporting page can provide you with all the information necessary to understand the effectiveness and reach of your
    On-Demand Webcasts</p>

    <p>The Webcast reporting dashboard is divided into the following sections:</p>

    <ul>
        <li>Site Data</li>
        <li>Events Specific</li>
        <li>Support Specific</li>
        <li>Rating Specific</li>
    </ul>

</div>
<footer class="container-fluid">
    <div class="navbar navbar-default" >
        <ul class="nav navbar-nav">
            <li>
                <a target="_blank" href="http://www.parliament.uk/">
                    <i class="fa fa-external fa-lg"></i> UKParliament Site
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/azindex/">
                    <i class="fa fa-external fa-lg"></i> A-Z index
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/glossary/">
                    <i class="fa fa-external fa-lg"></i> Glossary
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/contact-us/">
                    <i class="fa fa-external fa-lg"></i> Contact us
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/foi/">
                    <i class="fa fa-external fa-lg"></i> Freedom of Information
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/job-opportunities/">
                    <i class="fa fa-external fa-lg"></i> Jobs
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/using-this-website/">
                    <i class="fa fa-external fa-lg"></i> Using this website
                </a>
            </li>
            <li>
                <a target="_blank" href="http://www.parliament.uk/site-information/copyright/">
                    <i class="fa fa-external fa-lg"></i> Copyright
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>
<script src="../static/lib/js/date_selection.js" type="text/javascript"></script>
{% endblock %}