
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.9/dc.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/keen-js/4.3.0/keen.min.css">
  <link rel="stylesheet" href="https://s3.eu-west-2.amazonaws.com/elasticbeanstalk-eu-west-2-932524864295/css/main_dashboard.css">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'lib/css/main_dashboard.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.min.css">
</head>
<div class="container">
    <div class="navbar navbar-default navbar-fixed-top main-website-navbar" >
        <div class="container">
            <div class="navbar-header">
                <img class="menu-header-image" src="https://s3.eu-west-2.amazonaws.com/elasticbeanstalk-eu-west-2-932524864295/img/logo-main.png" width="450" height="70" alt="Marver Logo" data-toggle="tab">
                <span class="pull-right fa fa-bars fa-4x mobile-menu"></span>
            </div>
            <div class="navigation-list">
                <ul class="nav navbar-nav main-navbar">
                    <li>
                        <a href="/" >HOME</a>
                    </li>
                    <li>
                        <a href="/eventsmanager/eventcreation/" >HELP</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</div>
{%block body%}



{% endblock %}


</html>